# build output
dist/
out/
.next/

# dependencies
node_modules/

# generated
next-env.d.ts
*.tsbuildinfo

# logs
npm-debug.log*

# environment variables
.env
.env.production
.env.local

# macOS
.DS_Store
